/* Remove the navbar's default margin-bottom and rounded borders */

#faq-content-block {
  padding-left: 33vw;
  padding-right: 33vw;
}

#faq-content-clock p {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

#logo {
  width: 5vw;
}

#what-we-do-title {
  /* margin-top: 35vh; */
  /* top: 35vh; */
  position: absolute;
  top: 40vh;
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 300%;
}

body {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  text-align: center;
}

#main-section {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  /* opacity: 0.8; */
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}


a:hover {
  text-decoration: none;
  opacity: 0.5;
}


/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height: 200px;
}

#give-money-button {
  width: 15vw;
  height: 4vw;
  font-size: 60%;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
